body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #e0e0e0;
}

.table-container {
  margin: 50px auto;
  padding: 30px;
  max-width: 1100px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background: #f8f8f8;
  border: 8px solid white;
}

th, td {
  padding: 20px;
  border: 2px solid #ddd;
  font-size: 16px;
}

th {
  background-color: whitesmoke;
  color: black;
}

.price-row td {
  background: #ffffff;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.img{
    width: 200px;
    height: 200px;
   
}

/* Navbar */
   .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.488);
    z-index: 1000;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #2b272d;
  }
